*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.root{
  display: flex;
  .left{
    display: flex;
    align-items: center;
    height: 90vh;
    position: sticky;
    top: 48px;
    width: 0;
    z-index: 800;
    transition: transform 0.5s ease;

    .toggleLeftbar{
      height: 15vh;
      background-color: #f72d45;
      color: white;
      font-size: 14px;
      font-weight: 500;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

    }
    
    &.open {
      transform: translateX(min(-30vw, -200px));
    }
  }
  
}
