.account{
    display: flex;
    flex-direction: column;
    padding: 3vh 3vw;
    width: 70vw;
    gap: 7vh;
    overflow-x: hidden;
    overflow-y: auto;

    .button.submit{
        background-color: lightgreen;
    }
    .button.submit:hover{
        background-color: rgb(138, 196, 208);
        transition: background-color, 0.5s;
    }
    button {
        width: 30vw;
        padding: 5px;
        border: none;
        border-radius: 3px;
        background-color: #f72d45;
        font-size: clamp(7px, 1.5vw, 12px);;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
    }
    button:hover{
        color: white;
        background-color: rgb(138, 196, 208);
        transition: background-color, 0.5s;
    }
    
    
    span{
        display: inherit;
        gap: inherit;
        align-items: flex-end;
        gap: 2vw;
    }

    .account_info{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        gap: 15px;

        .field{
            display: flex;
            align-items: center;
            gap: 1vw;
        }

        .label{
            width: 10vw;
            font-size: clamp(7px, 1.5vw, 12px);
        }
        input{
            padding: 3px;
            height: 25px;
            width: max(20vw, 100px);
            border: none;
            font-size: clamp(7px, 1.5vw, 12px);
            border-bottom: 1px solid lightgray;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        input:hover, input:focus{
            outline: none;
        }
        #password_field{
            display: flex;
            border: none;
            border-bottom: 1px solid lightgray;
            justify-content: space-between;
            width: max(16vw, 100px);
            .input_field{
              flex:1;
              border: none;
              font-size: clamp(7px, 1.5vw, 12px);
            }
            .input_field::placeholder{
                font-size: clamp(7px, 1.5vw, 12px);
            }
            .toggle_visible{
              width: 1.5vw;
              border: none;
              border-radius: 100%;
              padding: 2px;
              filter: invert(29%) sepia(0%) saturate(4830%) hue-rotate(315deg) brightness(119%) contrast(91%);
            }
            .toggle_visible:hover{
                background-color: #fff;
            }
          }
        
    }
    .person_info{
        gap: 15px;
        display: flex;
        flex-direction: column;

        .field{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .label{
            width: 10vw;
            font-size: clamp(7px, 1.5vw, 12px);
        }
        input{
            padding: 3px;
            width: 17vw;
            border: none;
            font-size: clamp(7px, 1.5vw, 12px);
            border-bottom: 1px solid lightgray;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input:hover, input:focus{
            outline: none;
        }
        .address_line{
            width: 51vw;
            border: none;
            border-bottom: 1px solid lightgray;
        }
        label{
            margin-top: 10px;
            font-size: clamp(7px, 1.5vw, 12px);
            display: inherit;
            gap: 10px;
            .checkPass{
                justify-content: start;
                width: 12px;
                align-items: flex-start;
            }
        }
        .dropdown-container{
            font-size: clamp(7px, 1.5vw, 12px);
        }
        
    }
    .person_not_found{
        gap: 10px;
        display: flex;
        flex-direction: column;
        
    }
    
}