.account{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 80vw;
    gap: 30px;
    overflow-x: hidden;
    overflow-y: auto;

    button {
        width: 25%;
        padding: 5px;
        border: none;
        border-radius: 3px;
        background-color: rgb(40, 82, 122);
        color: white;
        font-weight: bold;
        margin-top: 22px;
        cursor: pointer;
    }
    button:hover{
        color: white;
        background-color: rgb(138, 196, 208);
        transition: background-color, 0.5s;
    }
    
    span{
        display: inherit;
        gap: inherit;
    }

    .account_info{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        gap: 10px;

        .label{
            width: 120px;
            font-size: 14px;
        }
        input{
            padding: 3px;
            width: 220px;
        }
        
    }
    .person_info{
        gap: 10px;
        display: flex;
        flex-direction: column;
        .label{
            width: 120px;
            font-size: 14px;
        }
        input{
            padding: 3px;
            width: 220px;
        }
        .address_line{
            width: 580px;
        }
    }
    .person_not_found{
        gap: 10px;
        display: flex;
        flex-direction: column;
        
    }
    
}