.leftbar {
    background-color: black;
    color: white;
    width: max(20vw, 200px);
    min-height: 94vh;
    max-height: 102vh;
    padding: 5px 0;
    position: sticky;
    top: 48px;
    overflow-y: auto;
  
    .list {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 10px;
        cursor: pointer;
  
        &:hover {
          background-color: #e5e5e5;
          color: black;
          transition: background-color, 0.5s;
        }
      }
    }
  }