.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100vw;
    border-bottom: 2px solid ldightgray;
    position: sticky;
    overflow-x: hidden;
    top: 0;
    color: #f72d45;
    background-color: white;
    z-index: 999;
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);

    span{
      font-weight: 300;
      
    }

    .icon{
      height: 24px;
      color: #f72d45;
      padding: 3px;
      border-radius: 100%;
    }

    .icon:hover{
      background-color: #f72d45;
      color: white;
      transition: background-color, 0.5s;
      cursor: pointer;
    }


    .left {
      display: flex;
      align-items: center;
      gap: 3vw;

      span {
        font-weight: 500;
        font-size: min(3vh, 3vw);
        //color: #f72d45;
      }

      a{
        height: 24px;
        width: 0;
      }

      .search {
        display: flex;
        align-items: center;
        width: 30vw;
        gap: 10px;
        border: 1px solid ;
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 40vw;
          background-color: transparent;
          color: #f72d45
        }
        input::placeholder{
          color: #f72d45;
        }
        input:hover, input:focus{
          outline: none;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      a{
        height: 24px;
        width: 24px;
      }
      span{
        height: 24px;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: max(12px, 1.2vw);
        color: #f72d45; 
      } 
      .user:visited, user:active{
        color: #f72d45;
      }
    }
  
}