.register{
    height: 100vh;
    background: linear-gradient(to bottom left,rgba(251, 238, 172, 0.5), rgba(40, 82, 122, 0.5)),url("../assets/pictures/login_BG.png") center;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 65%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        height: 400px;
        max-height: 85%;
        overflow: hidden;

        .left{
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: white;
            h1 {
                font-size: 30px;
                color: #555;
            }
            
            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .input_field {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 1px 5px;
                }
                .input_field:hover, .input_field:focus {
                    /* remove the outline */
                    outline: none;
                }

                #password_field{
                    display: flex;
                    border: none;
                    border-bottom: 1px solid lightgray;
                    justify-content: space-between;
                    .input_field{
                      flex:1;
                      border: none
                    }
                    .toggle_visible{
                      width: 30px;
                      height: 30px;
                      border: none;
                      border-radius: 100%;
                      padding: 5px;
                      filter: invert(29%) sepia(0%) saturate(4830%) hue-rotate(315deg) brightness(119%) contrast(91%);
                    }
                }

                button {
                    width: 50%;
                    margin-top: 10px;
                    padding: 10px;
                    border: none;
                    border-radius: 3px;
                    background-color: rgb(40, 82, 122);
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
                button:hover{
                    color: white;
                    background-color: rgb(138, 196, 208);
                    transition: background-color, 0.5s;
                }
            }

        }
        .right{
            flex: 1;
            background: linear-gradient(rgba(25, 35, 125, 0.5), rgba(40, 82, 122, 0.5)),
            url("../assets/pictures/101.jpg") center;
            background-size: cover;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            @media screen and (max-width: 768px){
            display: none;
            }

            h1 {
            font-size: 36px;
            line-height: 50px;
            }
            
            p {
                font-size: 12px;
            }
    
            span {
                font-size: 14px;
            }
            
            button {
                width: 50%;
                padding: 10px;
                border: none;
                border-radius: 3px;
                background-color: white;
                color: rgb(40, 82, 122);
                font-weight: bold;
                margin-top: 22px;
                cursor: pointer;
            }
            button:hover{
                color: white;
                background-color: rgb(138, 196, 208);
                transition: background-color, 0.5s;
                
            }
        }
    }
}