.request{
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    width: 100vw;
    font-weight: 600;
    overflow-x: auto;

    #button-bottom {
        width: 200px;
        padding: 5px;
        border: none;
        border-radius: 3px;
        background-color: #f72d45;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
    }
    #button-bottom:hover{
        color: white;
        background-color: rgb(138, 196, 208);
        transition: background-color, 0.5s;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 4vh;

        .field{
            display: flex;
            flex-direction: column;
            gap:10px;
            padding: 2vh 2vw;
            border: 1px solid lightgray;
            border-radius: 10px;
            h5{
                font-size: min(12px, 2.2vw);
            }
        }
        .label{
            width: max(40vw, 140px);
            font-size: 14px;
        }
        span{
            display: flex;
            flex-direction: column;
        }
        .dropdown-container{
            font-size: 12px;
        }
    }
}