.request_details{
    .return-content{
        position: absolute;
        top: 50%;
        left: 17%;
    }
    .requestDetails{
        margin: 2vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        width: 60vw;
        h4{
            display: flex;
            justify-content: center;
        }
        .detailsList{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h5{
                width: 25%;
            }
            span{
                padding: 4px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .status.PENDING{
                color: orange;
            }
            .status.ACCEPTED{
                color: green;
            }
            .status.DECLINED{
                color: red;
            }
        }
        .button-bottom{
            display: flex;
            justify-content: space-around;
            button {
                width: 20%;
                padding: 5px;
                border: none;
                border-radius: 3px;
                color: white;
                background-color: rgb(40, 82, 122);
                
                margin-top: 20px;
                cursor: pointer;
            }
            button:hover{
                color: white;
                background-color: rgb(138, 196, 208);
                transition: background-color, 0.5s;
            }
            .button-accept {
                width: 20%;
                padding: 5px;
                border: none;
                border-radius: 3px;
                color: white;
                background-color: lightgreen;
                
                margin-top: 20px;
                cursor: pointer;
            }
            .button-decline {
                width: 20%;
                padding: 5px;
                border: none;
                border-radius: 3px;
                color: white;
                background-color: rgb(255, 80, 80);
                
                margin-top: 20px;
                cursor: pointer;
            }
            
        }
    }
}